@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

header{
  background-color: black;
  color: white;  
}
.navbar{
    /* max-width: 1200px;
    margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 190px;
}

.navbar  a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500; 
} 

.navbar_title{
    color: #E6533C;
    font-size: 40px;
    font-weight: 800;
}

.nav_items{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    border: 1px solid #e8e8e8;
    border-radius: 39px;
    padding: 0px 20px 0px 0px;

}
.active{
    background-color: #E6533C;
    padding: 10px 20px;
    border-radius: 40px;
}